schemas/terralib/dataaccess/capabilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:te_da="http://www.terralib.org/schemas/dataaccess"
            xmlns:te_dt="http://www.terralib.org/schemas/datatype"
            xmlns:te_common="http://www.terralib.org/schemas/common"
            xmlns:te_gm="http://www.terralib.org/schemas/geometry"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.terralib.org/schemas/dataaccess"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xml:lang="en">

  <xsd:annotation>
    <xsd:appinfo>DataSourceCapabilities</xsd:appinfo>
    <xsd:documentation>This XML Schema describes the information about data access driver capabilities</xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://www.terralib.org/schemas/common" schemaLocation="../common/common.xsd"/>
  <xsd:import namespace="http://www.terralib.org/schemas/datatype" schemaLocation="../datatype/datatype.xsd"/>
  <xsd:import namespace="http://www.terralib.org/schemas/geometry" schemaLocation="../geometry/geometry.xsd"/>
  <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../ogc/xlink/1.0.0/xlinks.xsd"/>

  <xsd:element name="DataSourceCapabilities" type="te_da:DataSourceCapabilitiesType">
    <xsd:annotation>
      <xsd:documentation>This is the root element for driver capabilities files.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="DataTypeCapabilitiesType">
    <xsd:sequence>
      <xsd:element name="DataType" type="te_dt:DataTypeNameType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="SQLFunctionEncoder" type="te_da:SQLFunctionEncoderType" abstract="true"/>

  <xsd:complexType name="SQLFunctionEncoderType" abstract="true"/>

  <xsd:element name="BinaryOpEncoder" type="te_da:BinaryOpEncoderType" substitutionGroup="te_da:SQLFunctionEncoder"/>

  <xsd:element name="UnaryOpEncoder" type="te_da:UnaryOpEncoderType" substitutionGroup="te_da:SQLFunctionEncoder"/>

  <xsd:element name="FunctionEncoder" type="te_da:FunctionEncoderType" substitutionGroup="te_da:SQLFunctionEncoder"/>

  <xsd:element name="TemplateEncoder" type="te_da:TemplateEncoderType" substitutionGroup="te_da:SQLFunctionEncoder"/>

  <xsd:complexType name="BinaryOpEncoderType">
    <xsd:complexContent>
      <xsd:extension base="te_da:SQLFunctionEncoderType">
        <xsd:attribute name="alias" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UnaryOpEncoderType">
    <xsd:complexContent>
      <xsd:extension base="te_da:SQLFunctionEncoderType">
        <xsd:attribute name="alias" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FunctionEncoderType">
    <xsd:complexContent>
      <xsd:extension base="te_da:SQLFunctionEncoderType">
        <xsd:attribute name="alias" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TemplateEncoderType">
    <xsd:complexContent>
      <xsd:extension base="te_da:SQLFunctionEncoderType">
        <xsd:attribute name="alias" type="xsd:string" use="required"/>
        <xsd:attribute name="template" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FunctionType">
    <xsd:sequence>
      <xsd:element ref="te_da:SQLFunctionEncoder" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="FunctionsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SpatialTopologicOperatorsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SpatialMetricOperatorsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SpatialNewGeomOperatorsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SpatialOperatorsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LogicalOperatorsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ComparsionOperatorsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ArithmeticOperatorsType">
    <xsd:sequence>
      <xsd:element name="Function" type="te_da:FunctionType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GeomOperandsType">
    <xsd:sequence>
      <xsd:element name="GeomType" type="te_gm:GeomTypeType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="QueryCapabilitiesType">
    <xsd:sequence>
      <xsd:element name="SQLDialect" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SpatialSQLDialect" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Insert" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Update" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Delete" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Create" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Drop" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Alter" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Select" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SelectInto" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SpatialTopologicOperators" type="te_da:SpatialTopologicOperatorsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SpatialMetricOperators" type="te_da:SpatialMetricOperatorsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SpatialNewGeomOperators" type="te_da:SpatialNewGeomOperatorsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SpatialOperators" type="te_da:SpatialOperatorsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="LogicalOperators" type="te_da:LogicalOperatorsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ComparsionOperators" type="te_da:ComparsionOperatorsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ArithmeticOperators" type="te_da:ArithmeticOperatorsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Functions" type="te_da:FunctionsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="GeomOperands" type="te_da:GeomOperandsType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataSetTypeCapabilitiesType">
    <xsd:sequence>
      <xsd:element name="SupportPrimaryKey" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportUniqueKey" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportForeignKey" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportSequence" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportCheckConstraints" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportIndex" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportRTreeIndex" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportBTreeIndex" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportHashIndex" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportQuadTreeIndex" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataSetCapabilitiesType">
    <xsd:sequence>
      <xsd:element name="Bidirectional" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Random" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Indexed" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EfficientMovePrevious" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EfficientMoveBeforeFirst" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EfficientMoveLast" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EfficientMoveAfterLast" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EfficientMove" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EfficientSize" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DataSourceCapabilitiesType">
    <xsd:annotation>
      <xsd:documentation>This type describes a data access driver capabilities.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DataTypeCapabilities" type="te_da:DataTypeCapabilitiesType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="QueryCapabilities" type="te_da:QueryCapabilitiesType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DataSetTypeCapabilities" type="te_da:DataSetTypeCapabilitiesType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DataSetCapabilities" type="te_da:DataSetCapabilitiesType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SpecificCapabilities" type="te_common:ParameterListType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="AccessPolicyName" type="te_common:AccessPolicyNameType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportTransactions" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportDataSetPesistenceAPI" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportDataSetTypePesistenceAPI" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportPreparedQueryAPI" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SupportBatchExecutorAPI" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>